@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  :root {
    --primary: #006ac3;
    --secondary: #fedf01;
  }
}

@layer utilities {
  .container {
    @apply max-w-screen-xl mx-auto px-5 xl:px-0;
  }
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 100%;
}

.bg-gradient {
  background: linear-gradient(
    0deg,
    rgba(0, 68, 153, 1) 0%,
    rgba(0, 85, 165, 1) 100%
  );
}

.heading-xxl {
  font-size: clamp(50px, 8vw, 100px);
}

.heading-lg {
  font-size: clamp(35px, 6vw, 65px);
}

.heading-md {
  font-size: clamp(25px, 4.5vw, 45px);
}

.heading-sm {
  font-size: clamp(20px, 3vw, 30px);
}

.heading-xs {
  font-size: clamp(15px, 2vw, 20px);
}

.sign-in {
  background-image: url("/sign-up-bg.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.checkbox-fill {
  position: absolute;
  display: none;
}

#saveCard:checked + .checkbox-fill {
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 2px;
}

.dashboard-table td {
  @apply py-5 border-gray-500 border-b;
}

.vertical-tab {
  @apply py-3 px-5 text-primary font-semibold;
}
